.quantity {
    display: flex;
    max-width: 120px;

    &__btn {    // .quantity__btn
        display: block;
        &_prev {        // .quantity__btn_prev

        }

        &_next {        // .quantity__btn_next

        }
    }

    &__input {    // .quantity__input
        display: block;
        margin: 0 10px;
        max-width: 56px;
        height: 33px;
        text-align: center;
        border: 2px solid #e5e5e5;
    }
}
